* {
 margin: 0px;
 padding: 0px;
}

body {
 font-family: Verdana, Arial, sans-serif;
 font-size: 16px;
 color: #000;}
 
a img{ border: 0px; }

a { color:#D01A71; font-weight: bold;text-decoration: none;}

a:hover { 
 /*color: #fff; 
  background: #D01A71; */ 
 font-weight: bold;
}


textarea, input {
 background: #fff;
 font-family: Verdana;
 font-size: 0.7em;
 padding: 3px;
 color: #000;
 border: 2px solid #555;}

/***Sidebar***/

#sidebar h3 
{
font-family: Verdana, Arial, sans-serif;
display: block;
font-size: 20px;
font-weight: bold;
color: #999;
letter-spacing: -0.1em;
margin-bottom: 4px;
}

/***Content***/

#content { width: 490px; margin-top: 15px; margin-left: 15px; }

#content p {line-height: 1.4em; font-size: 0.7em; margin-bottom: 20px; color: #000;}
 
#content h3 {
color: #999;
letter-spacing: -0.1em;
margin-bottom: 4px;
margin-top: 4px;
text-align: center;
}

#content ul {
 font-size: 0.7em;
 margin-left: 50px;
 margin-bottom: 20px;
}

#content th {
	padding: 2px;
	font-size: 0.7em;
	background: #dedede;
	color: #D01A71;
}


#content td {
	padding: 2px;
	font-size: 0.7em;
	background: #fff;
}

 #content tr {
  background: #fff;
  font-family: Verdana;
  font-size: 1.2em;
  padding: 3px;
  color: #000000;
  border: 2px solid #555;}

 #content table {
  border: 2px solid #555;}	
 
  #sample {
  overflow-y: hidden;
  overflow: auto;
  background: #dedede;
  font-family: Verdana;
  font-style: italic;
  font-size: 0.7em;
  padding: 10px;
  color: #000000;
  } 
  
  /* sample querys */
  #bd form.samplequery fieldset {border:none; margin-left:17px; padding:0; }
  #bd form.samplequery div {padding:.2em 0; margin:0; }
  #bd form.samplequery div label {display:block; float:left; width: 2em; font-size: 0.7em;padding-top: 4px;}
  #bd form.samplequery div input {width:200px; }
  #bd form.samplequery div input.sbmt {width:auto; margin-left: 100px;}
  #bd form.samplequery div textarea {width:400px; height:10em; margin:0;}
